@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-white min-h-screen;
        background-image:
            linear-gradient(to right, rgba(98, 149, 251, 0.1) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(98, 149, 251, 0.1) 1px, transparent 1px);

        background-size: 100px 100px;
    }

    :root {
        --radius: 0.5rem;
    }
}

@layer utilities {

    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #FFF7ED;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #5B9BFA;
        border-radius: 10px;
    }
}

::selection {
    color: #1E1E1E;
    /* dark color */
    background-color: #5B9BFA;
    /* orange color */
}